<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>entrada</title>
</head>
<body>

<h1>home inicio

</h1>

<div class="card">


  <div>

  </div>



  <div class="veterinariaM">
    <h1>LOS PLANES DE MEDICINA PREVENTIVA PARA PERROS Y GATOS PUEDEN AUMENTAR LA ESPERANZA DE VIDA DE TU MASCOTA</h1>


    <div class="cuadro">
      <div class="row">
        <div class="col-md-6">
          <div class="texto1">
            <h2>En Mundo Mascotas entendemos lo importante que es tu mascota. Queremos ayudarte a cuidarla de la mejor manera posible, por eso ofrecemos nuestros planes de medicina preventiva, diseñados específicamente para perros y gatos según su edad.</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="formulario">
            <form class="row g-3 needs-validation" novalidate>
              <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" id="nombre" required>
              </div>
              <div class="col-md-6">
                <label for="apellidos" class="form-label">Cedula</label>
                <input type="text" class="form-control" id="apellidos" required>
              </div>
              <div class="col-md-6">
                <label for="telefono" class="form-label">Ocupacion</label>
                <input type="tel" class="form-control" id="telefono" pattern="[0-9]{3} [0-9]{7}" required>

              </div>
              <div class="col-md-6">
                <label for="email" class="form-label">Celular</label>
                <input type="email" class="form-control" id="email" required>
              </div>


              <div class="col-md-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="politicaPrivacidad" required>
                  <label class="form-check-label" for="politicaPrivacidad">
                    He leído y acepto la política de privacidad <a href="#">Leer Política de privacidad</a>
                  </label>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <li class="Regis"><a type="button" class="btn btn-dark" href="registrarse.html">Registrarse</a></li>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>





    <div class="iconos mt-5">
      <div class="row">
        <!-- Primera Tarjeta -->
        <div class="col-4 col-md-3 mb-4">
          <div class="card 1">
            <img src="assets/demo/images/galleria/Imagen de WhatsApp 2023-10-25 a las 16.00.25_6ac2c176.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CUENTA 1</h5>
              <p class="card-text">Conoce los datos e información acerca de tu mascota.</p>
              <a href="Cuenta.html" class="btn btn-primary">Buscar</a>
            </div>
          </div>
        </div>

        <!-- Segunda Tarjeta -->
        <div class="col-4 col-md-3 mb-4">
          <div class="card 2">
            <img src="assets/demo/images/galleria/Imagen de WhatsApp 2023-10-25 a las 16.00.23_1dc9f5b5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CUENTA 2</h5>
              <p class="card-text">Conoce los datos e información acerca de tu mascota.</p>
              <a href="Cuenta2.html" class="btn btn-primary">Buscar</a>
            </div>
          </div>
        </div>

        <!-- Tercera Tarjeta -->
        <div class="col-4 col-md-3 mb-4">
          <div class="card 3">
            <img src="assets/demo/images/galleria/Imagen de WhatsApp 2023-10-25 a las 16.00.23_629a7511.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CUENTA 3</h5>
              <p class="card-text">Conoce los datos e información acerca de tu mascota.</p>
              <a href="Cuenta3.html" class="btn btn-primary">Buscar</a>
            </div>
          </div>
        </div>

        <!-- Cuarta Tarjeta -->
        <div class="col-4 col-md-3 mb-4">
          <div class="card 4">
            <img src="assets/demo/images/galleria/Imagen de WhatsApp 2023-10-25 a las 16.00.24_52075db0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CUENTA 4</h5>
              <p class="card-text">Conoce los datos e información acerca de tu mascota.</p>
              <a href="Cuenta4.html" class="btn btn-primary">Buscar</a>
            </div>
          </div>
        </div>

        <!-- Quinta Tarjeta -->
        <div class="col-4 col-md-3 mb-4">
          <div class="card 5">
            <img src="assets/demo/images/galleria/Imagen de WhatsApp 2023-10-25 a las 16.00.24_52075db0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CUENTA 5</h5>
              <p class="card-text">Conoce los datos e información acerca de tu mascota.</p>
              <a href="Cuenta5.html" class="btn btn-primary">Buscar</a>
            </div>
          </div>
        </div>

        <!-- Sexta Tarjeta -->
        <div class="col-4 col-md-3 mb-4">
          <div class="card 6">
            <img src="assets/demo/images/galleria/Imagen de WhatsApp 2023-10-25 a las 16.00.23_629a7511.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CUENTA 6</h5>
              <p class="card-text">Conoce los datos e información acerca de tu mascota.</p>
              <a href="Cuenta6.html" class="btn btn-primary">Buscar</a>
            </div>
          </div>
        </div>

        <!-- Séptima Tarjeta -->
        <div class="col-4 col-md-3 mb-4">
          <div class="card 7">
            <img src="assets/demo/images/galleria/Imagen de WhatsApp 2023-10-25 a las 16.00.24_52075db0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CUENTA 7</h5>
              <p class="card-text">Conoce los datos e información acerca de tu mascota.</p>
              <a href="Cuenta7.html" class="btn btn-primary">Buscar</a>
            </div>
          </div>
        </div>

        <!-- Octava Tarjeta -->
        <div class="col-4 col-md-3 mb-4">
          <div class="card 8">
            <img src="assets/demo/images/galleria/Imagen de WhatsApp 2023-10-25 a las 16.00.23_1dc9f5b5.jp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CUENTA 8</h5>
              <p class="card-text">Conoce los datos e información acerca de tu mascota.</p>
              <a href="Cuenta8.html" class="btn btn-primary">Buscar</a>
            </div>
          </div>
        </div>


      </div>
    </div>


    <div class="row">
      <div class="col-12 text-center">
        <div class="texto2">
          <h1>TENEMOS PLANES COMPLEMENTARIOS DISPONIBLES PARA LAS MASCOTAS QUE CUENTAN CON UN PLAN BÁSICO</h1>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <!-- Primera Tarjeta -->
    <div class="col-12 col-md-4 col-lg-3 mb-4">
      <div class="card text-center">
        <img src="assets/img/Imagen de WhatsApp 2023-10-09 a las 14.36.28_0156220f.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ESTERILIZACIÓN</h5>
          <p class="card-text">Prequirúrgicos + anestesia + procedimiento</p>
          <p class="card-text">$140.000</p>
        </div>
      </div>
    </div>

    <!-- Segunda Tarjeta -->
    <div class="col-12 col-md-4 col-lg-3 mb-4">
      <div class="card text-center">
        <img src="assets/img/Imagen de WhatsApp 2023-10-09 a las 14.36.28_0156220f.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SALUD ORAL</h5>
          <p class="card-text">Prequirúrgicos + anestesia + procedimiento</p>
          <p class="card-text">$140.000</p>
        </div>
      </div>
    </div>

    <!-- Tercera Tarjeta -->
    <div class="col-12 col-md-4 col-lg-3 mb-4">
      <div class="card text-center">
        <img src="assets/img/Imagen de WhatsApp 2023-10-09 a las 14.36.28_0156220f.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CONTROL DE PARÁSITOS EXTERNOS</h5>
          <p class="card-text">Esquema de desparasitación anual o semestral</p>
          <p class="card-text">$140.000</p>
        </div>
      </div>
    </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="app.js"></script>
  <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>
  <script type="importmap">

  </script>
  <script type="module">
                 import * as bootstrap from 'bootstrap'

                 new bootstrap.Popover(document.getElementById('popoverButton'))
               </script>


</div>

</body>
</html>