<div class="card">
    <h1>Diagnostico</h1>
    <p-tabMenu [model]="itemss"></p-tabMenu>

    
    <div *ngIf="mensajeError" class="mensaje-error">{{ mensajeError }}</div>

    <p-messages [value]="messages"></p-messages>
    <br>

    
    <p-fieldset>
        <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
                <span class="pi pi-user mr-2"></span>
                <span class="font-bold text-lg">registro de Diagnostico </span>
            </div>
        </ng-template>
        <input type="text" pInputText id="actitud"[(ngModel)]="diagnos.estado" pTooltip="Escriba el Estado que tiene la mascota" [ngStyle]="inputStyles" tooltipPosition="right" placeholder="Escriba el Estado que tiene la Macota" >
        

    <textarea pKeyFilter="int" rows="15" cols="70"[(ngModel)]="diagnos.descripccion" pInputTextarea  placeholder="descripcion del Diagnostico" [ngStyle]="textareaStyles" ></textarea>
    <div class="flex-auto">
        <p-button icon="pi pi-check" (click)="crearDiagnostico()"  label="Registrar" styleClass="p-button-text"></p-button>
       </div>
   
  </p-fieldset>


 
<p-dialog header="opciones a elegir" [(visible)]="displayModal" [style]="{ width: '70vw' }">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">A donde Deseas Ir </span>
    </ng-template>
    
    <div class="card">
        <p-splitter [style]="{ height: '200px' }" styleClass="mb-5">
            <ng-template pTemplate>
                <div class="col flex align-items-center">
                    <p>
                        El diagnóstico se ha registrado exitosamente.
                        <br>
                        Código de diagnóstico: {{ codigoDiagnostico }}
                    </p>
                 <div class="col flex align-items-center justify-content-center bg-light">
                    <p-button label="Ir a Plan de Mejoramiento"  styleClass="p-button-raised p-button-text" style="width: 100%; background-color: #007BFF; color: white;"></p-button>

                 </div>
                </div>
            </ng-template>
            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center">
                     <h3>LISTA DE ANALISIS</h3>

                      <p-button label="Ir a Lista de analisis" styleClass="p-button-raised p-button-text" ></p-button>

                </div>
            </ng-template>
        </p-splitter>
    </div>

            
    <ng-template pTemplate="footer">
        
    </ng-template>
</p-dialog>


</div>
